<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sabias que?
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar placeholder="Busqueda filtrada" [(ngModel)]="busqueda" (ionInput)="inputS($event)"></ion-searchbar>
  <ion-grid>
    <ion-col>
      <ion-row>
        <ion-card *ngFor="let datos of data; let i = index"> 
          <ion-card-header>
            <ion-card-title>{{datos.name}} {{i+1}}</ion-card-title>
            <img src="{{datos.image}}" width="150px">
          </ion-card-header>
          <ion-card-content>
            {{datos.info}}
          </ion-card-content>
        </ion-card>
      </ion-row>
    </ion-col>
  </ion-grid>
</ion-content>
